.title_text {
    color: #05DB8B;
    font-size: 75px;
    font-family: Koulen;
    letter-spacing: 0.05cap;
}

.title_container_dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    gap: 5vh;
}

.logos_container {
    display: flex;
    gap: 20vh;
    align-items: center;
}

.movie_service_buttons {
    transition: transform 250ms;
}

.movie_service_buttons:hover {
    transform: scale(1.08);
}